<!DOCTYPE html>

[% USE Asset %]
[% USE Branches %]
[% USE Categories %]
[% USE Dumper %]
[% USE ExtendedAttributeTypes %]
[% USE Koha %]
[% USE To %]
[% USE raw %]
[% WRAPPER "wrapper-staff-tool-plugin.inc" method="configure" plugin_title="UMS Collections" %]
<body>
    <div id="toolbar" class="btn-toolbar">
        <button type="button" data-bs-toggle="modal" data-bs-target="#UMSConfigModal" data-bs-mode="New" data-bs-type="group" class="btn btn-default" id="newconfig">
            <i class="fa fa-plus"></i> New group configuration
          </button><!-- /New Group button -->
        <button type="button" data-bs-toggle="modal" data-bs-target="#UMSConfigModal" data-bs-mode="New" data-bs-type="library"class="btn btn-default" id="newconfig">
            <i class="fa fa-plus"></i> New library configuration
          </button><!-- /New library button -->
      </div> <!-- /toolbar -->
    <div>
        <div class="page-section">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-configs" type="button" role="tab">
                                <i class="fa fa-server"></i> All configurations
                              </button><!-- /all-button -->
                          </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="group-tab" data-bs-toggle="tab" data-bs-target="#group-configs" type="button" role="tab">
                                <i class="fa fa-server"></i> Group configurations
                              </button><!-- /group-button -->
                          </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="library-tab" data-bs-toggle="tab" data-bs-target="#library-configs" type="button" role="tab">
                                <i class="fa fa-server"></i> Library configurations
                              </button><!-- /library-button -->
                          </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="library-tab" data-bs-toggle="tab" data-bs-target="#plugin-settings" type="button" role="tab">
                                <i class="fa fa-server"></i> Plugin settings
                              </button><!-- /library-button -->
                          </li>
                      </ul><!-- /nav-tabs -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="all-configs" role="tabpanel">
                            <div class="page-section">
                                <p class="text-muted">All configurations. You can create, edit, enable/disable, and delete these configs.</p>
                                <p class="text-muted">Configurations are checked from most specific (library) to least specific (global)</p>
                              </div><!-- /page-section -->
                            <table class="table table-striped" id="config_table">
                                <thead>
                                    <tr>
                                        <th>Configuration</th>
                                        <th>Type</th>
                                        <th>Enabled</th>
                                      </tr>
                                  </thead>
                                <tbody id="all-tbody">
                                    <!-- configs will be loaded dynamically -->
                                  </tbody>
                              </table><!-- /all-table -->
                          </div><!-- /all-pannel -->
                        <div class="tab-pane fade" id="group-configs" role="tabpanel">
                            <div class="page-section">
                                <p class="text-muted">Group configurations. You can create, edit, enable/disable, and delete these configs.</p>
                                <p class="text-muted">Configurations are checked from most specific (library) to least specific (global)</p>
                              </div><!-- /group-section -->
                            <table class="table table-striped" id="group_table">
                                <thead>
                                    <tr>
                                        <th>Configuration ID</th>
                                        <th>Type</th>
                                        <th>Enabled</th>
                                      </tr>
                                  </thead>
                                <tbody id="group-tbody">
                                    <!-- configs will be loaded dynamically -->
                                  </tbody>
                              </table>
                          </div><!-- /group-panel -->
                        <div class="tab-pane fade" id="library-configs" role="tabpanel">
                            <div class="page-section">
                                <p class="text-muted">Library configurations. You can create, edit, enable/disable, and delete these configs.</p>
                                <p class="text-muted">Configurations are checked from most specific (library) to least specific (global)</p>
                                <table class="table table-striped" id="library_table"
                                    <thead>
                                        <tr>
                                            <th>Configuration ID</th>
                                            <th>Type</th>
                                            <th>Enabled</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="library-tbody">
                                        <!-- configs will be loaded dynamically -->
                                    </tbody>
                                </table>
                              </div><!-- /library-section -->
                        </div>
                        <div class="tab-pane fade" id="plugin-settings" role="tabpanel">
                            <div clas="page-section">
                                <div id="message">
                                    <div class="alert alert-danger" role="alert"><h2>Global Settings</h2>
                                        <p>These settings impact ALL configurations. </p>
                                    </div> <!-- /alert -->
                                   <div> <button data-bs-toggle="modal" data-bs-target="#UMSSyncModal" data-bs-mode="Sync" id="syncconfig" data-sync-id="sync-all" class="btn btn-primary sync-config" data-sync-name="all enabled configurations"><i class="fa fa-rotate"></i> Sync all enabled</button> <p><br/></p></div>
                                </div> <!-- /message -->
                                <form  id="global_form" method="post" class="form">
            <input type="hidden" name="class" value="[% CLASS %]"/>
            <input type="hidden" name="method" value="[% METHOD %]"/>
            <input type="hidden" name="step"   value="plugin_settings"/>
            <input type="hidden" name="save"   value="1"/>
            <input type="hidden" name="op"     value="cud-save"/>
                      [% INCLUDE 'csrf-token.inc' %]
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3" id="global_enabled_column">
                        <label for="global_enabled" class="required">Global enabled  <i id="info_added" data-bs-toggle="tooltip" title="If disabled, no tasks will run." data-bs-placement="right" class="fa fa-info-circle"></i> </label>
                        <select name="global_enabled_selector" id="global_enabled_select" class="form-control" class="required" required="required">
                            <option class="global_on" value="1" [% IF global_enabled == 1 %] selected="selected"[% END %]>Enabled</option>
                            <option class="global_off" value="0"[% IF global_enabled == 0 %] selected="selected"[% END %]>Disabled</option>
                            </select>
                        </div> <!-- /enabled_selector -->
                    </div><!-- /col-md-6 -->
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="global_fine_branch" class="form-label">Fines should use the branch of <i id="info_added" data-bs-toggle="tooltip" title="Limit to patron home branch (all fines for patrons at that branch), item home branch (fines for all items from those branches), branch where the item was checked out (fines for items checked out at those branches)" data-bs-placement="right" class="fa fa-info-circle"></i></label>
                            <select name="global_fine_branch_selector" class="form-control" id="global_fine_branch">
                                <option value="patron"[% IF global_fine_branch == 'patron' %] selected="selected"[% END %]>Patron home branch</option>
                                <option value="item_home"[% IF global_fine_branch == 'item_home' %] selected="selected"[% END %]>Item home branch</option>
                                <option value="accountline"[% IF global_fine_branch == 'accountline' %] selected="selected"[% END %]>Accountline branch of the fine</option>
                                </select>
                        </div><!-- /global_fine_branch group -->
                    </div><!-- /global_fine column -->
              </div><!--row -->
            <fieldset class="action">
                <button type="submit" value="Save" class="btn btn-default" type="button">Save</button>
              </fieldset>
              </form>
                            </div>                        
                      </div><!-- /tab-content -->
                  </div><!-- /card-header -->
              </div><!-- /card -->
          </div><!-- /page-section -->
      </div>
 <!-- New Config modal -->
    <div class="modal fade modal-lg" id="UMSConfigModal" aria-labelledby="UMSConfigLabel" aria-hidden="true">
        <form  id="config_form" method="post" class="form">
            <input type="hidden" name="class" value="[% CLASS %]"/>
            <input type="hidden" name="method" value="[% METHOD %]"/>
            <input type="hidden" name="action" id="modal_button" value="add"/>
            <input type="hidden" class="modal-type" name="type"/>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="UMSConfigLabel"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div><!-- /config-modal-header -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3" id="config_id_selector">
                                    <label for="umsconfig_id" class="required">Configuration for: </label>
                                    <select name="umsconfig_selector" id="umsconfig_id_select" class="form-control" class="required" required="required">
                                        <option class="modal-select-type" value="">Select a</option>
                                            <option class="global_option" value="global" hidden="" >Global</option>
                                        [% FOREACH l IN Branches.all() %]
                                            <option class="library_option" value="[% l.branchcode %]" hidden="" >[% l.branchname | html %]</option>
                                        [% END %]
                                            [% FOREACH g IN groups %]
                                                <option class="group_option" value="[% g.id %]" hidden="" >[% g.title %]</option>
                                            [% END %] 
                                        </select>
                                  </div> <!-- /config_id_selector -->
                              </div><!-- /col-md-6 -->
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="config-enabled" class="form-label">Enabled?</label>
                                        <select class="form-control" id="config-enabled">
                                            <option value="0">Disabled</option>
                                            <option value="1">Enabled</option>
                                          </select>
                                  </div><!-- /enabled group -->
                              </div><!-- /enabled column -->
                          </div><!-- /row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-6">
                                    <label for="run_on_dow">Day of week to send <i id="info_added" data-bs-toggle="tooltip" title="Please ensure that your system administrator has enabled the cronjob plugins_nightly.pl." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="run_on_dow" id="run_on_dow" class="form-control">
                                        <option value="0">Sunday</option>
                                        <option value="1">Monday</option>
                                        <option value="2">Tuesday</option>
                                        <option value="3">Wednesday</option>
                                        <option value="4">Thursday</option>
                                        <option value="5">Friday</option>
                                        <option value="6">Saturday</option>
                                      </select>
                                    
                                  </div><!-- /form-group mb-6 -->
                              </div><!-- /col-md-6 -->
                          </div><!-- /row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="umsconfig_categories">Patron categories <i id="info_added" data-bs-toggle="tooltip" title="Leave blank for all categories. multiple values can be selected with ctrl+click or shift+click." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select data-placeholder="Select patron categories to limit to" name="umsconfig_categories" id="umsconfig_categories" class="select2">
                                        [% FOREACH category IN Categories.all() %]
                                            <option value="[% category.categorycode %]">[% category.description %]</option>
                                        [% END %]
                                      </select>
                                    <br />
                                  </div><!-- /form-group mb-6 -->
                                  </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="umsconfig_debit_types">Debit types <i id="info_added" data-bs-toggle="tooltip" title="Leave blank for all debit types. Only selected types will be used to calculate collections elegibility." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select data-placeholder="Select debit types to limit to" name="umsconfig_debit_types" id="umsconfig_debit_types" class="select2">
                                        [% FOREACH debit_type IN debit_types %]
                                            <option value="[% debit_type.code %]">[% debit_type.description | html %]</option>
                                        [% END %]
                                      </select>
                                    <br />
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                          </div><!-- /row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fees_threshold">Threshold <i id="info_added" data-bs-toggle="tooltip" title="Minimum amount owed to be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i><label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div> 
                                            <input type="text" name="fees_threshold" id="fees_threshold" class="form-control">
                                      </div><!-- /input-group -->
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="processing_fee">Processing fee <i id="info_added" data-bs-toggle="tooltip" title="Amount of the processing fee added to the patron's account." data-bs-placement="right" class="fa fa-info-circle"></i><label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$ </div>
                                        <input type="text" name="processing_fee" id="processing_fee" class="form-control">
                                      </div><!-- /input-group -->
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6-->
                          </div><!-- /row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="require_lost_fee">Require lost fee <i id="info_added" data-bs-toggle="tooltip" title="If enabled, a patron will not be sent to collections unless at least one of their outstanding fees is a lost fee of any amount." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="require_lost_fee" id="require_lost_fee" class="form-control">
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                      </select>
                                    <span class="help-block"></span>
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- col-md-6-->

                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="processing_debit">Processing fee debit type <i id="info_added" data-bs-toggle="tooltip" title="Which debit type will be used" data-bs-placement="right" class="fa fa-info-circle"></i><label>
                                    <select name="processing_debit" id="processing_debit" class="form-control">
                                        [% FOREACH debit_type IN debit_types %]
                                            <option value="[% debit_type.code | html %]" selected="selected">[% debit_type.description | html %]</option>
                                          [% END %]
                                      </select>
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                          </div><!-- /row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="collections_flag">Collections flag <i id="info_added" data-bs-toggle="tooltip" title="Specify the how the patron is flagged as being in collections.

    If using a patron attribute, it is recommended that the attribute be mapped to the YES_NO authorised value category.

If using another category, the authorized values should be 0 and 1, but the descriptions can be set to your preference." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="collections_flag" id="collections_flag" class="form-control">
                                        <option value="sort1"> sort1</option>
                                        <option value="sort2">sort2</option>
                                        [% FOREACH a IN ExtendedAttributeTypes.all %]
                                            <option value="[% a.code %]">[% a.description | html %]</option>
                                        [% END %]
                                      </select>
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="exemption_flag">Exemption flag <i id="info_added" data-bs-toggle="tooltip" title=" Specify the how the patron is flagged as being in collections.
 
 If using a patron attribute, it is recommended that the attribute be mapped to the YES_NO authorised value category.

 If using another category, the authorized values should be 0 and 1, but the descriptions can be set to your preference." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="exemption_flag" id="exemption_flag" class="form-control">
                                        <option value="sort1">sort1</option>
                                        <option value="sort2">sort2</option>
                                        [% FOREACH a IN ExtendedAttributeTypes.all %]
                                            <option value="[% a.code %]">[% a.description | html %]</option>
                                        [% END %]
                                      </select>
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fees_starting_age">Count fees newer than <i id="info_added" data-bs-toggle="tooltip" title="Fees newer than this number of days will be totaled to check if a patron should be sent to collections. This number should be higher than 'count fees older than'" data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="number" name="fees_starting_age" id="fees_starting_age" class="form-control">
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fees_ending_age">Count fees older than <i id="info_added" data-bs-toggle="tooltip" title="Fees older than this number of days will be totaled to check if a patron should be sent to collections. This number should be lower than 'count fees newer than'" data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="number" name="fees_ending_age" id="fees_ending_age" class="form-control">
                                   </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                          </div><!-- /row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label for="fees_created_before_date_filter">Ignore fees created before this date <i id="info_added" data-bs-toggle="tooltip" title="Fees created before this date will not be part of the total used to check if a patron should be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" id="fees_created_before_date_filter" size="10" id=" fees_created_before_date_filter" name="fees_created_before_date_filter" class="flatpickr" />
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-12 -->
                          </div><!-- /row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="clear_below">Clear flag when balance at or below threshold <i id="info_added" data-bs-toggle="tooltip" title="If enabled, patrons who have paid off all they owe will have the collections flag removed automatically." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select class="form-control" id="clear_below">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                      </select>
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="clear_threshold">Clear collections flag threshold <i id="info_added" data-bs-toggle="tooltip" title="If set, the patron will be cleared from collections if if they do not exceed this threshold." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$ </div>
                                        <input type="text" name="clear_threshold" id="clear_threshold" class="form-control" value="[% auto_clear_paid_threshold || 0 %]">
                                      </div><!-- /input group-->
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                          </div><!-- /row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="add_restriction">Add restriction for patrons entering collections <i id="info_added" data-bs-toggle="tooltip" title="If enabled, newly flag patrons will have a restriction added to their record." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="add_restriction" id="add_restriction" class="form-control">
                                        <option value="1" [% IF add_restriction == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="0" [% IF add_restriction == "no" %]selected="selected"[% END %]>No</option>
                                      </select>
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="remove_restriction">Remove restriction for patrons leaving collections <i id="info_added" data-bs-toggle="tooltip" title="If enabled, patrons that have paid their debt will have any restrictions added when entering collections removed automatically." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="remove_restriction" id="remove_restriction" class="form-control">
                                        <option value="1" [% IF remove_restriction == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="0" [% IF remove_restriction == "no" %]selected="selected"[% END %]>No</option>
                                      </select>
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                          </div><!-- /row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="age_limitation">Remove minors from collections report <i id="info_added" data-bs-toggle="tooltip" title="If enabled, patrons under the age of 18 years old will not be included on the collections report." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="age_limitation" id="age_limitation" class="form-control">
                                        <option value="1" [% IF age_limitation == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="0" [% IF age_limitation == "no" %]selected="selected"[% END %]>No</option>
                                      </select>
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                          </div><!-- /row -->
                        <div class="row">
                            <div class="row">
                                <legend>Email Information</legend>
                              </div><!-- /row -->
                        <div class="row">
                            <span class="help-block">If email information is set, plugin will email files to the given email addresses</span>
                          </div><!-- /row -->
                       <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="unique_email">Unique management email address <i id="info_added" data-bs-toggle="tooltip" title="Email address provided to you by Unique Management Systems to email reports to.</" data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="unique_email" id="unique_email" class="form-control" >
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="cc_email">Additional email address <i id="info_added" data-bs-toggle="tooltip" title="If you would like to send the report to another email address as well, enter it here." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="cc_email" id="cc_email" class="form-control" value="[% cc_email %]">
                                  </div><!-- /form-group mb-3 -->
                              </div><!-- /col-md-6 -->
                          </div><!-- /row -->
                        [% count_sftp_servers = 0 %]
                        [% FOREACH server IN sftp_servers %]
                            [% count_sftp_servers = count_smtp_servers + 1 %]
                        [% END %]
                        [% IF (count_sftp_servers > 0) %]
                        <div class="row">
                            <div class="row">
                                <legend>SFTP Information</legend>
                              </div><!-- /row-->
                            <div class="row">
                                <span class="help-block">If SFTP information is set, plugin will transfer files to the given SMTP server</span>
                              </div><!-- /row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="form-group mb-3" id="sftp_selector">
                                            <label for="sftp_server" class="required">SFTP server to use: </label>
                                            <select name="sftp_selector" id="sftp_selector_select" class="form-control">
                                            <option class="modal-select-type" value="">Select a server</option>
                                                [% FOREACH server IN sftp_servers %]
                                                    <option value="[% server.id %]">[% server.name | html %]</option>
                                                [% END %]
                                            </select><!-- /sftp_selector-->
                                          </div> <!-- /sftp_selector-->
                                      </div><!-- /form-group mb-3-->
                                  </div><!-- /form-group md-6"-->
                              </div><!-- /row-->
                            [% ELSE %]
                            <div id="sftp_selector_select" />
                            [% END %]
                        [% count_smtp_servers = 0 %]
                        [% FOREACH server IN smtp_servers %]
                            [% count_smtp_servers = count_smtp_servers + 1 %]
                        [% END %]
                        [% IF (count_smtp_servers > 0) %]
                        <div class="row">
                            <div class="row">
                                <legend>SMTP Information</legend>
                              </div><!-- /row-->
                            <div class="row">
                                <span class="help-block">If SMTP information is set, the plugin will email files using the selected server</span>
                              </div><!-- /row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="form-group mb-3" id="smtp_selector">
                                            <label for="smtp_server" class="required">SMTP server to use: </label>
                                            <select name="smtp_selector" id="smtp_selector_select" class="form-control">
                                            <option class="modal-select-type" value="">Select a server</option>
                                                [% FOREACH server IN servers %]
                                                    <option value="[% server.id %]">[% server.name | html %]</option>
                                                [% END %]
                                            </select><!-- /smtp_selector-->
                                          </div> <!-- /smtp_selector-->
                                      </div><!-- /form-group mb-3-->
                                  </div><!-- /form-group md-6"-->
                              </div><!-- /row-->
                            [% ELSE %]
                            <div id="smtp_selector_select" />
                            [% END %]
                          </div><!-- /smtp-row -->
                          </div> <!-- /.rows -->
                      </div> <!-- /.modal-body -->

                    <div class="modal-footer">
                    <fieldset class="action">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa fa-times"></i> Cancel
                          </button>
                        <input type="hidden" name="op" value="cud-save" />
                        [% INCLUDE 'csrf-token.inc' %]
                      </fieldset>
                      </div> <!-- /.modal-footer -->
                  </div> <!-- /.modal-content -->
              </div> <!-- /.modal-dialog -->
          </form> <!-- /#config_form -->
      </div> <!-- /#newConfigModal -->
<!-- Delete Configuration Modal -->
    <div class="modal fade modal-lg" id="UMSDeleteModal" aria-labelledby="UMSDeleteLabel" aria-hidden="true">
        <form  id="deleteForm" method="delete" class="form">
            <input type="hidden" name="class" value="[% CLASS %]"/>
            <input type="hidden" name="method" value="[% METHOD %]"/>
            <input type="hidden" name="action" id="modal_button" value="delete"/>
            <input type="hidden" class="modal-type" name="type"/>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="delete-modal-label">Delete Configuration</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div><!-- /.modal-header -->
                    <div class="modal-body">
                        <div class="form-group" >
                            <p>Are you sure you want to delete the configuration "<span id="delete-config-name"></span>"?</p>
                            <p class="text-muted">This action cannot be undone.</p>
                          </div><!-- /form-group -->
                      </div><!-- /.modal-body -->
                    <div class="modal-footer">
                        <input type="hidden" id="delete-config-id">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Delete configuration
                          </button>
                        <fieldset class="action">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <i class="fa fa-times"></i> Cancel
                            </button>
                            <input type="hidden" name="op" value="delete" />
                            [% INCLUDE 'csrf-token.inc' %]
                          </fieldset>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form><!-- /#deleteForm -->
      </div><!-- /#UMSDeleteModal --> 
    <!-- Sync Configuration Modal -->
    <div class="modal fade modal-lg" id="UMSSyncModal" aria-labelledby="UMSSyncLabel" aria-hidden="true">
        <form  id="SyncForm" method="sync" class="form">
            <input type="hidden" name="class" value="[% CLASS %]"/>
            <input type="hidden" name="method" value="[% METHOD %]"/>
            <input type="hidden" name="action" id="modal_button" value="sync_report"/>
            <input type="hidden" name="config_id" id="sync_modal_id"/>
            <input type="hidden" class="modal-type" name="type"/>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="sync-modal-label">Sync Configuration</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div><!-- /.modal-header -->
                    <div class="modal-body">
                        <div class="form-group" >
                            <p>Are you sure you want to sync the configuration "<span id="sync-config-name"></span>"?</p>
                            <p>This will send an updated report for any impacted branches.</p>
                          </div><!-- /form-group -->
                      </div><!-- /.modal-body -->
                    <div class="modal-footer">
                        <input type="hidden" id="sync-config-id">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-rotate"></i> Sync configuration
                          </button>
                        <fieldset class="action">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <i class="fa fa-times"></i> Cancel
                            </button>
                            <input type="hidden" name="op" value="sync-report" />
                            [% INCLUDE 'csrf-token.inc' %]
                          </fieldset>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form><!-- /#syncForm -->
      </div><!-- /#UMSSyncModal -->
      </div><!--end panel div-->
  </body>
        [% END %]<!--wrapper-->
          [% INCLUDE 'datatables.inc' %]
          [% INCLUDE 'calendar.inc' %]
          [% INCLUDE 'validator-strings.inc' %]
          [% INCLUDE 'select2.inc' %]
          <script nonce="[% Koha.CSPNonce | $raw %]">
            $(document).ready(function() {
                var UMSDeleteModal = document.getElementById('UMSDeleteModal');
                var UMSConfigModal = document.getElementById('UMSConfigModal');
                var UMSSyncModal   = document.getElementById('UMSSyncModal');

            UMSDeleteModal.addEventListener('show.bs.modal', function (event){
                var button = event.relatedTarget;
                delete_id = button.getAttribute('data-delete-id');
                delete_name = button.getAttribute('data-delete-name');
                var modalTitle = UMSDeleteModal.querySelector('.modal-title');
                modalTitle.textContent = 'Delete configuration for ' + delete_name;
                var deleteName = UMSDeleteModal.querySelector('#delete-config-name');
                deleteName.textContent = delete_name;
            });

            UMSSyncModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                sync_id = button.getAttribute('data-sync-id');
                sync_name = button.getAttribute('data-sync-name');
                var modalTitle = UMSSyncModal.querySelector('.modal-title');
                modalTitle.textContent = 'Sync configuration for ' + sync_name;
                var syncName = UMSSyncModal.querySelector('#sync-config-name');
                syncName.textContent = sync_name;
                var syncModalId = UMSSyncModal.querySelector('#sync_modal_id');
                syncModalId.value = sync_id;
            });

            UMSConfigModal.addEventListener('show.bs.modal', function (event){
                //Button that triggered the modal
                var button = event.relatedTarget;
                // Extract info from data-bs-* attributes
                configtype = button.getAttribute('data-bs-type');
                umsmode = button.getAttribute('data-bs-mode');
                ums_id = button.getAttribute('data-config-id');
                ums_tab = button.getAttribute('data-bs-tab');
                //update the modal content
                //These get information from the button that was clicked
                var modalTitle = UMSConfigModal.querySelector('.modal-title');
                var modalTypeInput = UMSConfigModal.querySelector('.modal-type');
                var modalTypeSelector = modalTypeSelector + configtype;
                var modalIDSelect = '.' + configtype + '_option';
                var modalButton =  UMSConfigModal.querySelector('#modal_button');
                //Sets the title dynamicly: Mode (New/Edit) type(global, group, or library) configuration
                modalTitle.textContent = umsmode + ' ' + configtype + ' configuration';
                var modalSelector = UMSConfigModal.querySelector('.modal-select-type');
                modalSelector.textContent = 'Select a ' + configtype;
                if (configtype == 'global'){
                    modalSelector.textContent = 'Global';
                };
                if (umsmode == "Edit") {
                    $('#umsconfig_categories').val(null).trigger('change');
                    $('#umsconfig_debit_types').val(null).trigger('change');
                    loadConfigForEdit();
                    $('#umsconfig_categories').trigger('change');
                }
                else setDefaults();

            
        //show the appropriate choices in the library/group dropdown

           // Array.from(document.querySelectorAll("." + configtype +"_option")).forEach(e =>e.removeAttribute("hidden"));
           $("." + configtype +"_option").each(function(){
            $("." + configtype +"_option").removeAttr('hidden');
           }
           );
           UMSConfigModal.addEventListener('hide.bs.modal', function (){
            $("." + configtype +"_option").each(function(){
                $("." + configtype +"_option").attr("hidden", "true");
            }
              );
          });
                      });
            function setDefaults() {
                        document.getElementById("clear_below").value = '1';
                        document.getElementById("clear_threshold").value = '0';
                        document.getElementById("processing_debit").value = 'MANUAL';
                        document.getElementById("run_on_dow").value ='0';
                        document.getElementById("config-enabled").value = '0';
                        document.getElementById("fees_starting_age").value = '90';
                        document.getElementById("fees_ending_age").value = '60';
                        document.getElementById("processing_fee").value = '10';
                        document.getElementById("age_limitation").value = '0';
                        document.getElementById("add_restriction").value = '0';
                        document.getElementById("remove_restriction").value = '0';
                        document.getElementById("fees_threshold").value = '0';
                        document.getElementById("collections_flag").value = 'sort1';
                        document.getElementById("exemption_flag").value = 'sort2';
                        document.getElementById("umsconfig_id_select").value = '';
                        document.getElementById("umsconfig_id_select").removeAttribute("disabled");
                        $('#umsconfig_categories').val(null).trigger('change');
                        $('#umsconfig_debit_types').val(null).trigger('change');
                        let calendar = flatpickr('#fees_created_before_date_filter');
                        calendar.clear();
            }
            function loadConfigForEdit() {
                $.ajax({
                    url: '/api/v1/contrib/ums/config/' + event.relatedTarget.getAttribute('data-config-id'),
                    method: 'GET',
                    headers: { 'x-koha-embed': 'debit_types,patron_categories' },
                    success: function(config) {
                        let calendar = flatpickr('#fees_created_before_date_filter');
                        calendar.setDate(config.ignore_before);
                        if (config.config_type == "library") {
                            document.getElementById("umsconfig_id_select").value = config.branch;
                        }
                        if (config.config_type == "group") {
                            document.getElementById("umsconfig_id_select").value = config.config_group;
                        }
                        if (config.config_type == "global") {
                            document.getElementById("umsconfig_id_select").value = 'global';
                        }
                        if (config.sftp) {
                            document.getElementById("sftp_selector_select").value = config.sftp;
                        }

                        document.getElementById("umsconfig_id_select").setAttribute("disabled","disabled");
                        document.getElementById("cc_email").value = config.additional_email;
                        document.getElementById("clear_below").value = config.clear_below;
                        document.getElementById("clear_threshold").value = config.clear_threshold;
                        document.getElementById("collections_flag").value = config.collections_flag;
                        document.getElementById("processing_debit").value = config.config_debit_type;
                        document.getElementById("run_on_dow").value = config.day_of_week;
                        document.getElementById("config-enabled").value = config.enabled;
                        document.getElementById("exemption_flag").value = config.exemptions_flag;
                        document.getElementById("fees_starting_age").value = config.fees_newer;
                        document.getElementById("fees_ending_age").value = config.fees_older;
                        //document.getElementById("fees_created_before_date_filter").value = config.$ignore_before;
                        $('#umsconfig_categories').val((config.patron_categories).map(element => element.patron_category_id));
                        $('#umsconfig_categories').trigger('change');
                        $('#umsconfig_debit_types').val((config.debit_types).map(element => element.code));
                        $('#umsconfig_debit_types').trigger('change');
                        document.getElementById("processing_fee").value = config.processing_fee;
                        document.getElementById("add_restriction").value = config.restriction;
                        document.getElementById("remove_restriction").value = config.remove_restriction;
                        document.getElementById("fees_threshold").value = config.threshold;
                        document.getElementById("unique_email").value = config.unique_email;
                        document.getElementById("require_lost_fee").value = config.require_lost;
                    },
                });
            }
            //Load All configs on page load
            loadAll();

            //Event handlers

            $('#group-tab').on('click', function() {
                loadGroups();
            });
            $('#library-tab').on('click', function() {
                loadBranches();
            });

            $('#editconfig').on('click', function() {
                let configId = $(this).data('data-config-id');
                openConfigModal();
            });

             $('#syncconfig').on('click', function() {
                let configId = $(this).data('data-config-id');
                openSyncModal();
            });

            // Form submissions
            $('#config_form').on('submit', function(e) {
                e.preventDefault();
                saveConfig();
                loadAll();
                loadGroups();
                loadBranches();
            });
            // Form submissions
            $('#deleteForm').on('submit', function(e) {
                e.preventDefault();
                deleteConfig();
            });
            $('.select2').select2({
                allowClear: true,
                dropdownAutoWidth: true,
                width: '100%',
                multiple: true,
                size: 4,
                dropdownParent: ('#config_form')
            });
            //Initialize DataTables
                function loadAll() {
                $('#config_table').kohaTable({
                    "bDestroy": true,
                    "ajax": {
                        url: '/api/v1/contrib/ums/configs',
                        method: 'GET'
                    },
                    "columns": [
                        {data: "config_name",
                        title: "Configuration Name"
                        },
                        {data: "config_type",
                        render: function (data, type, row) {
                            if (data === "global") {
                                return 'Global configuration'}
                            if (data === "library") {
                                return 'Library configuration'}
                            if (data === "group") {
                                return 'Group configuration'}
                            },
                        title: "Configuration Type"
                        },
                        {data: "threshold",
                        render: function (data, type, row) {
                            if (data) {
                            return '$' + data;
                            } else {
                                return '$0';
                            }
                        },
                        title: "Threshold"},
                        {data: "processing_fee",
                        render: function (data, type, row) {
                            if (data) {
                            return '$' + data;
                            } else {
                                return '$0';
                            }
                        },
                        title: "Processing Fee"},
                        {data: "enabled",
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Enabled</span>';
                            }
                            if (data === 0) {
                                return '<span class="badge bg-secondary">Disabled</span>';
                            }
                        } ,
                        title: "Enabled"
                        },
                        {data: "config_id",
                        render: function (data, type, row, meta) {
                            if (data === 1) 
                                {return '<button type="button" data-bs-tab="allTab" data-bs-toggle="modal" data-bs-target="#UMSConfigModal" data-bs-mode="Edit" id ="editconfig" data-bs-type="' +row["config_type"] + '" class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"><i class="fa fa-edit"></i> Edit </button> <button data-bs-toggle="modal" data-bs-target="#UMSSyncModal" data-sync-name="' +row["config_name"] +'"  data-bs-mode="Sync" id="syncconfig" class= "btn btn-xs btn-primary sync-config" data-sync-id="' + data+ '"><i class="fa fa-rotate"></i> Sync </button>';
                                } else {
                                 return '<button  type="button"data-bs-tab="allTab" data-bs-toggle="modal" data-bs-target="#UMSConfigModal" data-bs-mode="Edit" id ="editconfig" data-bs-type="' +row["config_type"] + '" class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"><i class="fa fa-edit"></i> Edit </button> <button data-bs-toggle="modal" data-bs-target="#UMSSyncModal"  data-sync-name="' +row["config_name"] +'" data-bs-mode="Sync" id="syncconfig" class= "btn btn-xs btn-primary sync-config" data-sync-id="' + data+ '"><i class="fa fa-rotate"></i> Sync </button> <button data-bs-toggle="modal" data-bs-target="#UMSDeleteModal" data-bs-mode="Delete" id="deleteconfig" class= "btn btn-xs btn-primary delete-config" data-delete-name="' +row["config_name"] +'" data-delete-id="' + data+ '"><i class="fa fa-trash"></i> Delete </button>';
                            }
                        },
                        title: "Actions"
                        }
                    ]
            });
                }

                function loadGroups () {
                $('#group_table').kohaTable({
                    "bDestroy": true,
                    "ajax": {
                        url: '/api/v1/contrib/ums/configs/?config_type=group',
                        method: 'GET'
                    },
                    "columns": [
                        {data: "config_name",
                        title: "Configuration Name"
                        },
                        {data: "config_type",
                        render: function (data, type, row) {
                            if (data === "global") {
                                return 'Global configuration';}
                            if (data === "library") {
                                return 'Library configuration';}
                            if (data === "group") {
                                return 'Group configuration';}
                            },
                        title: "Configuration Type"
                        },
                        {data: "threshold",
                        render: function (data, type, row) {
                            if (data) {
                            return '$' + data;
                            } else {
                                return 'Not configured';
                            }
                        },
                        title: "Threshold"},
                        {data: "processing_fee",
                        render: function (data, type, row) {
                            if (data) {
                            return '$' + data;
                            } else {
                                return 'Not configured';
                            }
                        },
                        title: "Processing Fee"},
                        {data: "enabled",
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Enabled</span>';
                            }
                            if (data === 0) {
                                return '<span class="badge bg-secondary">Disabled</span>';
                            }
                        } ,
                        title: "Enabled"
                        },
                        {data: "config_id",
                        render: function (data, type, row, meta) {
                            if (data === 1) 
                                {return '<button type="button" data-bs-tab="groupTab" data-bs-toggle="modal" data-bs-target="#UMSConfigModal" data-bs-mode="Edit" id ="editconfig" data-bs-type="' +row["config_type"] + '" class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"><i class="fa fa-edit"></i> Edit </button> <button data-bs-toggle="modal" data-bs-target="#UMSSyncModal" data-bs-mode="Sync" id="syncconfig" class= "btn btn-xs btn-primary sync-config" data-sync-id="' + data+ '"><i class="fa fa-rotate"></i> Sync </button>';
                            } else {
                                 return '<button type="button" data-bs-tab="groupTab" data-bs-toggle="modal" data-bs-target="#UMSConfigModal" data-bs-mode="Edit" id ="editconfig" data-bs-type="' +row["config_type"] + '" class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"><i class="fa fa-edit"></i> Edit </button> <button data-bs-toggle="modal" data-bs-target="#UMSSyncModal" data-bs-mode="Sync" id="syncconfig" class= "btn btn-xs btn-primary sync-config" data-sync-id="' + data+ '"><i class="fa fa-rotate"></i> Sync </button> <button data-bs-toggle="modal" data-bs-target="#UMSDeleteModal" data-bs-mode="Delete" id="deleteconfig" class= "btn btn-xs btn-primary delete-config" data-delete-name="' +row["config_name"] +'" data-delete-id="' + data+ '"><i class="fa fa-trash"></i> Delete </button>';
                            }
                        },

                        title: "Actions"}]
            });
                }
                function loadBranches() {
                $('#library_table').kohaTable({
                    "bDestroy": true,
                    "ajax": {
                        url: '/api/v1/contrib/ums/configs/?config_type=library',
                        method: 'GET'
                    },
                    "columns": [
                        {data: "config_name",
                        title: "Configuration Name"
                        },
                        {data: "config_type",
                        render: function (data, type, row) {
                            if (data === "global") {
                                return 'Global configuration';}
                            if (data === "library") {
                                return 'Library configuration';}
                            if (data === "group") {
                                return 'Group configuration';}
                            },
                        title: "Configuration Type"
                        },
                        {data: "threshold",
                        render: function (data, type, row) {
                            if (data) {
                            return '$' + data;
                            } else {
                                return 'Not configured';
                            }
                        },
                        title: "Threshold"},
                        {data: "processing_fee",
                        render: function (data, type, row) {
                            if (data) {
                            return '$' + data;
                            } else {
                                return 'Not configured';
                            }
                        },
                        title: "Processing Fee"},
                        {data: "enabled",
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Enabled</span>';
                            }
                            if (data === 0) {
                                return '<span class="badge bg-secondary">Disabled</span>';
                            }
                        } ,
                        title: "Enabled"
                        },
                        {data: "config_id",
                        render: function (data, type, row, meta) {
                            if (data === 1) 
                                {return '<button type="button" data-bs-tab="libraryTab" data-bs-toggle="modal" data-bs-target="#UMSConfigModal" data-bs-mode="Edit" id ="editconfig" data-bs-type="' +row["config_type"] + '" class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"><i class="fa fa-edit"></i> Edit </button> <button data-bs-toggle="modal" data-bs-target="#UMSSyncModal" data-bs-mode="Sync" id="syncconfig" class= "btn btn-xs btn-primary sync-config" data-sync-id="' + data+ '"><i class="fa fa-rotate"></i> Sync </button>';
                            } else {
                                 return '<button type="button" data-bs-tab="libraryTab" data-bs-toggle="modal" data-bs-target="#UMSConfigModal" data-bs-mode="Edit" id ="editconfig" data-bs-type="' +row["config_type"] + '" class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"><i class="fa fa-edit"></i> Edit </button> <button data-bs-toggle="modal" data-bs-target="#UMSSyncModal" data-bs-mode="Sync" id="syncconfig" class= "btn btn-xs btn-primary sync-config" data-sync-id="' + data+ '"><i class="fa fa-rotate"></i> Sync </button> <button data-bs-toggle="modal" data-bs-target="#UMSDeleteModal" data-bs-mode="Delete" id="deleteconfig" class= "btn btn-xs btn-primary delete-config" data-delete-name="' +row["config_name"] +'" data-delete-id="' + data+ '"><i class="fa fa-trash"></i> Delete </button>';
                            }
                        },

                        title: "Actions"}]
            });
                }

            function deleteConfig() {
                $.ajax({
                    url: '/api/v1/contrib/ums/config/' + delete_id,
                    method: 'delete',
                    contentType: 'application/json',
                    success: function(data) {
                    //showMessage(configId ? 'Config updated successfully' : 'Config created successfully', 'success');
                        $('#UMSDeleteModal').modal('hide');
                        loadAll();
                    },
                    error: function(xhr, status, error) {
                        let message = 'Failed to delete config';
                        if (xhr.responseJSON && xhr.responseJSON.error) {
                            message += ': ' + xhr.responseJSON.error;
                        }
                    }
                    });}

            function saveConfig() { 
                config_type = "global";
                umsgroup = null;
                umslibrary = null;
                ums_name = "Global";
                if (configtype === 'library') {
                    umslibrary = $('#umsconfig_id_select').val();
                    ums_select = document.getElementById('umsconfig_id_select');
                    ums_name = ums_select.options[ums_select.selectedIndex].text;
                    config_type = "library"
                };
                if (configtype === 'group') {
                    umsgroup = $('#umsconfig_id_select').val();
                    ums_select = document.getElementById('umsconfig_id_select');
                    ums_name = ums_select.options[ums_select.selectedIndex].text;
                    config_type= "group";
                };
                const patron_categories_array = $('#umsconfig_categories').select2('data');
                const debit_types_array = $('#umsconfig_debit_types').select2('data');
                patron_categories = patron_categories_array.map(value => value.id);
                debit_types = debit_types_array.map(value =>value.id);
                var debit_type_select = document.getElementById('processing_debit');
                var debit_type = debit_type_select.value;
                var exemption_select = document.getElementById('exemption_flag');
                var exemption = exemption_select.value;
                var ignore_before = document.getElementById('fees_created_before_date_filter').value;
                var sftp = null;
                [% IF sftp_servers %]
                sftp = document.getElementById("sftp_selector_select").value;
                [% END %]

                if (!ignore_before){
                   ignore_before = null;
                };

                let configData = {
                    additional_email: $('#cc_email').val(),
                    branch: umslibrary,
                    clear_below: $('#clear_below').val(),
                    clear_threshold: $('#clear_threshold').val(),
                    collections_flag: $('#collections_flag').val(),
                    config_group: umsgroup,
                    config_type: configtype,
                    config_name: ums_name,
                    day_of_week: $('#run_on_dow').val(),
                    debit_type_codes: debit_types,
                    config_debit_type: debit_type,
                    enabled: $('#config-enabled').val(),
                    exemptions_flag: $('#exemption_flag').val(),
                    fees_newer: $('#fees_starting_age').val(),
                    fees_older: $('#fees_ending_age').val(),
                    ignore_before: ignore_before,
                    patron_categories: patron_categories,
                    processing_fee: $('#processing_fee').val(),
                    remove_minors: $('#age_limitation').val(),
                    remove_restriction:$('#remove_restriction').val(),
                    require_lost: $('#require_lost_fee').val(),
                    restriction: $('#add_restriction').val(),
                    sftp: sftp,

                    threshold: $('#fees_threshold').val(),
                    unique_email: $('#unique_email').val()
                };
                method = '';
                let url = '/api/v1/contrib/ums/configs';
                if (umsmode == "New") {
                 method = 'POST';
                }
                if (umsmode =="Edit"){
                     url = '/api/v1/contrib/ums/config/' + ums_id;
                     method = 'PUT';
                }
                 $.ajax({
                    url: url,
                    method: method,
                    data: JSON.stringify(configData),
                    contentType: 'application/json',
                    success: function(data) {
                    //showMessage(configId ? 'Config updated successfully' : 'Config created successfully', 'success');
                        $('#UMSConfigModal').modal('hide');
                        loadAll();
                    },
                    statusCode: {
                        409: function(xhr) {
                            alert(xhr.responseJSON.error);
                        }
                    },
                    error: function(xhr, status, error) {
                        let message = 'Failed to save config';
                        if (xhr.responseJSON && xhr.responseJSON.error) {
                            message += ': ' + xhr.responseJSON.error;
                        }
                        //showMessage(message, 'danger');
                    }
                  });
              }

            function openConfigModal() {
                if (ums_id) {
                    //Edit existing configs
                    loadConfigForEdit(ums_id);
                }
            }
            function openDeleteModal() {
            }
        });
        </script>