<!DOCTYPE html>

[% USE Asset %]
[% USE Branches %]
[% USE Categories %]
[% USE Dumper %]
[% USE Koha %]
[% USE To %]
[% USE raw %]
[% WRAPPER "wrapper-staff-tool-plugin.inc" method="admin" plugin_title="UMS Collections" %]
<div id="message">
    <div class="alert alert-danger" role="alert"><h2>Global Settings</h2>
        <p>These settings impact ALL configurations. </p>
      </div> <!-- /alert -->
  </div> <!-- /message -->
    <body>
        <div class="page-section">
            <form  id="global_form" method="post" class="form">
            <input type="hidden" name="class" value="[% CLASS %]"/>
            <input type="hidden" name="method" value="[% METHOD %]"/>
            <input type="hidden" name="step"   value="admin"/>
            <input type="hidden" name="save"   value="1"/>
            <input type="hidden" name="op"     value="cud-save"/>
                      [% INCLUDE 'csrf-token.inc' %]
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3" id="global_enabled_column">
                        <label for="global_enabled" class="required">Global enabled  <i id="info_added" data-bs-toggle="tooltip" title="If disabled, no tasks will run." data-bs-placement="right" class="fa fa-info-circle"></i> </label>
                        <select name="global_enabled_selector" id="global_enabled_select" class="form-control" class="required" required="required">
                            <option class="global_on" value="1" [% IF global_enabled == 1 %] selected="selected"[% END %]>Enabled</option>
                            <option class="global_off" value="0"[% IF global_enabled == 0 %] selected="selected"[% END %]>Disabled</option>
                            </select>
                        </div> <!-- /enabled_selector -->
                    </div><!-- /col-md-6 -->
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="global_fine_branch" class="form-label">Fines should use the branch of <i id="info_added" data-bs-toggle="tooltip" title="Limit to patron home branch (all fines for patrons at that branch), item home branch (fines for all items from those branches), branch where the item was checked out (fines for items checked out at those branches)" data-bs-placement="right" class="fa fa-info-circle"></i></label>
                            <select name="global_fine_branch_selector" class="form-control" id="global_fine_branch">
                                <option value="patron"[% IF global_fine_branch == 'patron' %] selected="selected"[% END %]>Patron home branch</option>
                                <option value="item_home"[% IF global_fine_branch == 'item_home' %] selected="selected"[% END %]>Item home branch</option>
                                <option value="item_checkout"[% IF global_fine_branch == 'item_checkout' %] selected="selected"[% END %]>Checkout branch of the item</option>
                                </select>
                        </div><!-- /global_fine_branch group -->
                    </div><!-- /global_fine column -->
              </div><!--row -->
            <fieldset class="action">
<button type="submit" value="Save" class="btn btn-default" type="button">Save</button>
              </fieldset>
              </form>
          </div>
      </body>
[% END %]<!--wrapper-->